
.accueil {
  margin: 0 20px;
}

.accueil article {

}

.article-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;

}



.accueil h3 {
  margin-top: 5px;
}


.accueil h2 {
  margin-bottom: 0;
  font-size: $fz-h2;
}

.date {
  font-size: rem(12);
  align-self: flex-end;
}

.accueil a {
  border: 2px solid $color-link;
  padding: 5px;
  border-radius: 5px;
}

.accueil article:hover a {
  color: $color-bg-page;
  background-color: $color-link;

}

.accueil picture > img {
  object-fit: cover;
  height: 150px;
}

.accueil article {
  position: relative;
  box-sizing: border-box;
  transition: all 0.2s ease-out;
  margin-bottom: 0;
  margin-top: 73px;
}

.accueil article:first-child {
   margin-top: 20px;
 }

.accueil article * {
  transition: all 0.2s ease-out;
}

.accueil article a {
  max-width: 110px;
  text-align: center;
  align-self: flex-start;
  transform: translate(-50%, 50%);
}

.accueil article:hover {
  transform: translateY(-5px);
}

@media screen and (min-width: $vw-medium) {

  .accueil {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .accueil article{
    width: 40%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
  }

  .accueil article:first-child {
    margin-top: 50px;
  }

  .accueil article > p{
    flex-grow: 1;
  }

  .accueil article a{
    margin-left: 54px;
  }


}

@media screen and (min-width: $vw-huge){
    .accueil article{
      width: 30%;
    }
}