main{
  padding: 10px;
}

.profil img{
  object-fit: cover;
  border-radius: 10px;
}

.profil{
  width: 25%;
  height: 50%;
}

.auteur{
  display: flex;
  align-items: flex-end;
  width: 70%;
}

.auteur p{
  margin-top: 0;
  padding-left: 10px;
}

.flex-top{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.img-article img{
  margin-top: 20px;
}

.petite{
  font-size: $fz-p-article;
}

.flex-bottom{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (min-width: $vw-medium){
  .profil{
    width: 15%;
    height: 30%;
  }

  .auteur{
    width: 50%;
  }
}

@media screen and (min-width: $vw-huge){
  .article h2{
    font-size: $fz-h1-huge;
  }

  .img-article img{
    height: 400px;
    object-fit: cover;
  }
}