footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 20px 10px 20px;
}

.boutonEffet {
  background-color: $color-bg-page;
  border: none;
  border-bottom: 6px solid $color-text-normal;
  border-top: 6px solid $color-text-normal;
  cursor: pointer;
  outline: none;
  padding: 1px 4.5px 9.5px 4.5px;
  position: relative;
  margin-right: 20px;
}

.boutonEffet:before,
.boutonEffet:after {
  transition: all 0.3s;
  background-color: $color-bg-page;
  border-radius: 50%;
  top: -6px;
  content: "";
  height: 46px;
  position: absolute;
  width: 46px;
  border: 6px solid #ddd;
  transform: rotate(45deg);
  z-index: -1;
}

.boutonEffet:before {
  right: -23px;
  border-left-color: $color-text-normal;
  border-bottom-color: $color-text-normal;
}

.boutonEffet:after {
  left: -23px;
  border-right-color: $color-text-normal;
  border-top-color: $color-text-normal;
}



.boutonEffet:hover:before,
.boutonEffet:hover:after {
  transform: rotate(225deg);
}


