
.ajoutArticle form
{
  width: 100%;
}

.ajoutArticle div{
  margin-bottom: 20px;
}

.ajoutArticle{
  padding: 0 15px;
}

.ajoutArticle form input[type="file"]{
  font-size: $fz-text-form;
}

@media screen and (min-width: $vw-medium) {
  .ajoutArticle form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .ajoutArticle div
  {
    width: 500px;
  }

  .milieu{
    display: flex;
    flex-direction: column;
  }
  .milieu textarea{
    align-self: center;
  }

  .ajoutArticle button[type="submit"]{
    width: 250px;
  }

}