 body section.login-container{
  display: none;
}

.login-container div{
  position: relative;
}

.login-container header h2 {
  font-size: rem(32);
  margin: 0 0 32px 0;
}

.login-container i{
  position: absolute;
  top: 20px;
  right: 20px;
}


section.login-container{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 200;
  background: rgba(45,39,48,0.8);
}

section.login-container > div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 400px;
  margin: auto 20px;
  padding: 20px;
  text-align: center;
  background: $color-bg-page;
  border: 1px solid $color-text-normal;
  border-radius: 5px;

}

section.login-container form{
  display: flex;
  flex-direction: column;
}

form label{
  align-self: flex-start;
  margin-bottom: 5px;
}

form input[type="password"],
form input[type="text"],
form button[type="submit"] {
  width: 100%;
  padding: 16px;
  border-radius: 5px;
  outline: 0;
}


form input[type="text"]{
  margin-bottom: 16px;
}

form button[type="submit"]{
  margin-top: 32px;
  padding: 5px;
  font-weight: bold;
  background-color: $base-input-border-color;
  color: $base-input-background-color;
}

form button[type="submit"]:focus,
form button[type="submit"]:hover{
  background-color: $color-title;
}

.bouton {
  border: none;
  cursor: pointer;
  display: inline-block;
  outline: none;
  position: relative;
  overflow: hidden;
  transition: all 0.35s ease;
}
.bouton:before {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $base-input-background-focus-color;
  transition: all 0.3s;
  transform: translateX(100%);
}
.bouton:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
}
.bouton:hover:before{
  transform: translateX(0%);
  opacity: 0.25;
}

@media screen and (min-width: $vw-medium){
  section.login-container > div{
    margin: auto;
  }
}
