
.insription{
  margin: 0 20px;
}


.insription form input[type="text"],
.insription form input[type="file"],
.insription form input[type="password"],
.insription form input[type="email"],
.insription form button[type="submit"]{
  margin: 5px 0 20px 0;
  width: 100%;
}

.insription form input[type="email"]{
  border-radius: 5px;
}

.insription label{
  margin: 0;
}

.insription form input[type="file"]{
  font-size: $fz-text-form;

}

@media screen and (min-width: $vw-medium){

  .insription form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .form-flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 600px;
  }

  .form-flex div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px;

  }

  .insription form input[type="text"],
  .insription form input[type="file"],
  .insription form input[type="password"],
  .insription form input[type="email"],
  .insription form button[type="submit"]{
    width: 250px;
  }

}