.menu-inscription,
.connexion{
  display: none;
}

.main-menu li{
position: relative;
text-align: center;
}

.main-menu li:before,
.main-menu li:after{
  transition: all 0.35s ease;
  height: 2px;
  width: 25%;
  background-color: $color-link;
  position: absolute;
  content: '';
  opacity: 0;
}

.main-menu li:before{
  top: 0;
  left: 0;
}

.main-menu li:after{
  bottom: 0;
  right: 0;
}

.main-menu li:hover:before,
.main-menu li:hover:after{
  opacity: 1;
}

.main-menu li:hover:before{
  left: 65%;
}

.main-menu li:hover:after{
  right: 65%;
}

.logo-click{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  max-width: 30%;
}

.logo-click h1{
  color: $color-link;
}

.logo{
  width: 50%;
  height: 50%;
}

.nav-flex{
  padding: 20px;

    .showMenu{
      position: absolute;
      right: 20px;
      top: 47px;
    }

    .toggle-menu{
      display: none;
    }

    .toggle-menu:checked + ul{
      display: block;
    }


    ul{

      display: none;
      list-style: none;
      padding: 0;

      li{

        a{
          display: inline-block;
          padding: 10px 5px;
          width: 100%;
        }

        ul{
          display: none;
          position: static;

          a{
            display: inline-block;
            min-width: 150px;
          }
        }
      }
      li:hover{


        ul{
          display: block;
        }
      }
    }
  }

@media screen and (min-width: $vw-medium){

  .logo-click h1{
    font-size: $fz-h1-moyen;
  }


  .header-flex{

    display: flex;
    align-items: center;
    justify-content: space-between;

    nav.nav-flex{
      padding: 20px 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .showMenu{
        display: none;
      }

      .logo{
        width: 30%;
        height: 30%;
      }
      .logo-click{
        max-width: 20%;
      }

      ul.main-menu{
        display: flex;
        li{
          margin: 0 10px;
          ul{
            position: absolute;
            z-index: 100;
            background-color: $color-bg-page;
            border-radius: 10px;
          }

        }
      }
    }
  }
}

@media screen and (min-width: $vw-huge){
  .logo-click{
    max-width: 40%;
  }

  .logo{
    width: 75%;
    height: 75%;
  }
}


