
.profil-page div {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.profil-page p {
  margin: 0;
}

.profil-page picture {
  width: 15%;
  height: 30%;
}

.profil-page img{
  border-radius: 10px;
}


.bouton-centre {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

 .profil-page button[type="button"]{
  color: $color-bg-page;
   background-color: $color-text-normal;
   padding: 8px;
   border-radius: 10px;
}

.profil-page button[type="button"]:hover{
  background-color: $color-title;
}

.profil-page .header-profil{
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.profil-page .header-profil p{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
}

.profil-page div > :first-child{
  margin-top: 20px;
}

@media screen and (min-width: $vw-medium){

  .profil-page{
    width: 50%;
    margin: 0 auto;
  }

  .profil-page  div:not(:last-child){
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .profil-page div p{
    justify-self: start;
    align-self: end;
  }

  .profil-page picture {
    width: 20%;
    height: 40%;
    margin-bottom: 5px;
  }

  .profil-page .header-profil p{
    margin-left: 0;
  }


}