
.hero {
  background: center/cover no-repeat url("../images/brooklyn-nine-nine_w_320.jpg");

  position: relative;

  min-height: 200px;
  width: 100%;


  display: flex;
  justify-content: center;
  align-items: center;

  h3{
    margin: 0;
  }
}


  @media screen and (min-resolution: 192dpi) {
    .hero{
      background-image: url("../images/brooklyn-nine-nine_w_1784.jpg");
    }
  }




.hero picture > img{
  opacity: 0.3;
}

.hero h3{
  background: rgba(255, 255, 255, 0.6);

  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: rem(20);
  padding: 0 30px;
  text-align: center;
  position: absolute;
}

@media screen and (min-width: $vw-medium) {
  .hero {
    background-image: url("../images/brooklyn-nine-nine_w_984.jpg");

    min-height: 400px;
  }

  .hero h3{
    font-size: rem(32);
  }



  @media screen and (min-resolution: 192dpi) {
    .hero{
      background-image: url("../images/brooklyn-nine-nine_w_2130.jpg");
    }
  }

}

@media screen and (min-width: $vw-huge){
  .hero {
    background-image: url("../images/brooklyn-nine-nine_w_1426.jpg");
    min-height: 600px;

  }

  .hero h3{
    font-size: $fz-h1-huge;

  }

  @media screen and (min-resolution: 192dpi) {
    .hero{
      background-image: url("../images/brooklyn-nine-nine_w_2400.jpg");
    }
  }


}
